@import 'https://fonts.googleapis.com/css?family=Pacifico|Dosis';

body {
   font-family: "cambria", serif;
   font-style: italic;
 }
 .innehåll {
   text-transform: uppercase;
   font-weight: bold;
}
.headline header{
  position:absolute;
  margin-top: -1100px;
  margin-left: 500px
}
.headline img{
  opacity: 0.5;
  width: 100%;
  height:auto;
}
.headline{
  margin:10px 10px 10px 10px;
  height: 100px;
  overflow:hidden;
}


.information{
  margin: 10px 10px 10px 10px;
border: 2px dashed black;
 padding-left:10px;
}


button{
  margin-top: 20px;
  margin-bottom: 10px;
}
.choose{
  margin:10px;
}
button:hover {
  background-color: green;
  cursor: pointer;

}
.burgers {
     display: grid;
     grid-gap: 10px;
     margin-left: 10px;
     grid-template-columns: 415px 415px 415px ;
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;


 }
 .burger {
   font-size: 150%;
  border: 2px dashed white;
   margin-left: 10px;
   background-color: black;
 }
 @media screen and (max-width: 800px) {
    h1 {
        font-size: 6vw;
    }
}
