@import 'https://fonts.googleapis.com/css?family=Pacifico|Dosis';

body {
   font-family: "Courier new", monospace;

 }
 .innehåll {
   text-transform: uppercase;
   font-weight: bold;
}

.burgers {
   background-color: black;
   color: white;

}

button:hover {
  background-color: green;
  cursor: pointer;
}
